<div id="container1">
  <div >
    <h1 align="center">Welcome to train reservation system</h1>
  </div>
</div>
<ul class="breadcrumb">
  <li  routerLinkActive="active"><a class="active" routerLink="/home" skipLocationChange="true">Home</a></li>
  <li><a routerLink="/show" skipLocationChange="true">All train
  </a></li>
  <li><a routerLink="/singletrain" skipLocationChange="true">Single train</a></li>
</ul>

<div>
<router-outlet></router-outlet>
</div>
<div id="container">
  <div class="row md 5">
    <h4 align="center">copyright@1234</h4>
  </div>
</div>